<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.google.smarthome.mapper.GoogleMapper">

    <resultMap id="google" type="com.google.smarthome.dto.GoogleDTO"> </resultMap>

    <select id="getInfoByDeviceId" parameterType="String" resultMap="google">
        SELECT
            a.POWR AS powrStatus,
            a.WTTP AS tempStatus, <!-- HTTP-->
            a.DEVC_ID AS deviceId,
            a.OPMD AS modeValue,
            a.CWTP AS currentTemp, <!-- CWTP-->
            b.USER_ID AS userId
        FROM
            TBR_OPR_DEVICE_STATUS a
        INNER JOIN
            TBT_OPR_DEVICE_REGIST b
        ON
            a.DEVC_ID = b.DEVC_ID
        WHERE
            a.DEVC_ID = #{deviceId}
    </select>

    <select id="getEachRoomDeviceIdList" parameterType="String" resultMap="google">
        SELECT
            a.SUB_ID AS deviceId,
            a.DEVC_MODL_CD AS deviceModelCode,
            b.USER_ID AS userId
        FROM
            TBR_OPR_DEVICE_STATUS a
        INNER JOIN
            TBT_OPR_DEVICE_REGIST b
        ON
            a.PR_ID = b.DEVC_ID
        WHERE
            a.PR_ID = #{deviceId}
    </select>

    <select id="getInfoByEachRoomDeviceId" parameterType="String" resultMap="google">
        SELECT
            a.POWR AS powrStatus,
            a.HTTP AS tempStatus,
            a.SUB_ID AS deviceId,
            a.OPMD AS modeValue,
            a.CHTP AS currentTemp,
            b.USER_ID AS userId
        FROM
            TBR_OPR_VALVE_BOX_STATUS a
        INNER JOIN
            TBT_OPR_DEVICE_REGIST b
        ON
            a.PR_ID = b.DEVC_ID
        WHERE
            a.PR_ID = #{deviceId}
    </select>

    <update id="updateDeviceStatus" parameterType="com.google.smarthome.dto.GoogleDTO">
        UPDATE
            TBR_OPR_DEVICE_STATUS
        <set>
            <if test="tempStatus != null">WTTP = #{tempStatus},</if> <!-- HTTP-->
            <if test="powrStatus != null">POWR = #{powrStatus},</if>
            <if test="modeValue != null">OPMD = #{modeValue},</if>
            <if test="sleepCode != null">SLCD = #{sleepCode},</if>
        </set>
        WHERE
            DEVC_ID = #{deviceId}
    </update>

    <select id="getAccountByUserId" parameterType="String" resultMap="google">
        SELECT
            USER_ID AS userId,
            PW as userPassword
        FROM
            TBR_OPR_ACCOUNT
        WHERE
            USER_ID = #{userId}
    </select>

    <select id="getDeviceIdByUserId" parameterType="com.google.smarthome.dto.GoogleDTO" resultMap="google">
        SELECT
            a.USER_ID AS userId,
            a.DEVC_ID AS deviceId,
            b.DEVC_MODL_CD AS deviceModelCode
        FROM
            TBR_OPR_USER_DEVICE a
        INNER JOIN
            TBR_IOT_DEVICE b
        ON
            a.DEVC_ID = b.DEVC_ID
        WHERE
            USER_ID = #{userId}
    </select>

    <select id="getEachRoomDeviceIdByUserId" parameterType="com.google.smarthome.dto.GoogleDTO" resultMap="google">
        SELECT
            SUB_ID AS deviceId,
            DEVC_MODL_CD AS deviceModelCode
        FROM
            TBR_OPR_VALVE_BOX_STATUS
        WHERE
            PR_ID = #{deviceId}
    </select>

    <select id="getNicknameByDeviceId" parameterType="com.google.smarthome.dto.GoogleDTO" resultMap="google">
        SELECT
            DEVC_NICK AS deviceNickname
        FROM
            TBT_OPR_DEVICE_REGIST
        WHERE
            DEVC_ID = #{deviceId}
    </select>

    <update id="updateGoogleAuthInfo" parameterType="com.google.smarthome.dto.GoogleDTO">
        UPDATE
            TBR_OPR_ACCOUNT
        SET
            GOOGLE_STATE = #{googleState},
            GOOGLE_HOME_STATUS = '00'
        WHERE
            USER_ID = #{userId}
    </update>

    <select id="getGoogleAuthInfo" parameterType="com.google.smarthome.dto.GoogleDTO" resultMap="google">
        SELECT
            COUNT(*) AS googleCount
        FROM
            TBR_OPR_ACCOUNT
        WHERE
            GOOGLE_STATE = #{googleState}
    </select>

    <select id="checkGoogleRegistDevice" parameterType="String" resultMap="google">
        SELECT 
	        COUNT(*) AS deviceCount
	    FROM 
	        TBT_OPR_DEVICE_REGIST a
	    INNER JOIN
	        TBR_OPR_ACCOUNT b
	    ON 
            a.USER_ID = b.USER_ID
	    WHERE 
	        a.DEVC_ID = #{deviceId}
        AND
            b.GOOGLE_HOME_STATUS = '00' 

    </select>

    <update id="updateUserAuthInfo" parameterType="com.google.smarthome.dto.GoogleDTO">
        UPDATE
            TBR_OPR_ACCOUNT
        SET
            GOOGLE_AUTH_INFO = #{authorizationCode}
        WHERE
            USER_ID = #{userId}
    </update>

    <select id="getUserIdByAuthorizationCode" parameterType="String" resultMap="google">
        SELECT
            USER_ID AS userId
        FROM
            TBR_OPR_ACCOUNT
        WHERE
            GOOGLE_AUTH_INFO = #{authorizationCode}
    </select>

    <select id="getGroupIdByUserId" parameterType="String" resultMap="google">
        SELECT
            GRP_ID AS groupId
        FROM
            TBD_USER_INVITE_GROUP
        WHERE
            USER_ID = #{userId}
    </select>

    <select id="getOnlineStatus" resultMap="google">
        SELECT
            ON_LINE AS online
        FROM
            GOOGLE_TEST_TABLE
    </select>
</mapper>